<!-- Modal เพิ่ม -->
<div class="modal fade AddRoom" tabindex="-1" role="dialog" aria-labelledby="AddRoom" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">

        <form action="/manageBuilding/addRoom/<%= building._id %>" method="post">
            <!--อันนี้แก้ managecar-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddRoom">
                        เพิ่มห้อง</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">ชื่อห้อง</label>
                        <div class="col-sm-10">
                            <!-- <input type="text" name="_id" id="IDbuildingName" style="display: none"> -->
                            <input required type="text" class="form-control form-control-lg" name="roomName" id="roomName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">ชั้นที่</label>
                        <div class="col-sm-10">
                            <!-- <input type="text" name="_id" id="IDbuildingName" style="display: none"> -->
                            <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" required type="text" class="form-control form-control-lg" name="floor" id="floor">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">เเถว</label>
                        <div class="col-sm-10">
                            <!-- <input type="text" name="_id" id="IDbuildingName" style="display: none"> -->
                            <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" required type="text" class="form-control form-control-lg" name="column" id="column">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">หลัก</label>
                        <div class="col-sm-10">
                            <!-- <input type="text" name="_id" id="IDbuildingName" style="display: none"> -->
                            <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" required type="text" class="form-control form-control-lg" name="row" id="row">
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <button type="submit" class="btn btn-primary">ยืนยัน</button>
                </div>
        </form>
        </div>
    </div>
    <!--เพิ่ม-->