<div>
    <!-- Modal เพิ่ม -->
    <div class="modal fade addStudent" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <form action="/manageStudent/post" method="post" id="formcreate">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addStudent">
                            เพิ่มนิสิต</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title" id="addStudent">
                            ข้อมูลuser</h5><br>

                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">username</label>
                            <div class="col-sm-10">
                                <input required type="text" class="form-control form-control-lg" name="username" id="username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">password</label>
                            <div class="col-sm-10">
                                <input required type="text" name="uType" id="uType" style="display: none" value="student">
                                <input required type="password" class="form-control form-control-lg" name="password" id="password">
                            </div>
                        </div>
                        <hr>
                        <h5 class="modal-title" id="addStudent">
                            ข้อมูลส่วนตัว</h5><br>

                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">รหัสนิสิต</label>
                            <div class="col-sm-10">
                                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" required type="text" class="form-control form-control-lg" name="studentId" id="studentId">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">คำนำหน้าชื่อ</label>
                            <div class="col-sm-10">
                                <select class="form-control  form-control-lg" id="prefixName" name="prefixName">
                                  <option>นาย</option>
                                  <option>นางสาว</option>
                                  <option>นาง</option>
                              </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">ชื่อ</label>
                            <div class="col-sm-10">
                                <input required type="text" class="form-control form-control-lg" name="firstName" id="firstName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">นามสกุล</label>
                            <div class="col-sm-10">
                                <input required type="text" class="form-control form-control-lg" name="lastName" id="lastName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">คณะ</label>
                            <div class="col-sm-10">
                                <input required type="text" class="form-control form-control-lg" name="faculty" id="faculty">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">สาขา</label>
                            <div class="col-sm-10">
                                <input required type="text" class="form-control form-control-lg" name="major" id="major">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">ชั้นปี</label>
                            <div class="col-sm-10">
                                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" required type="text" class="form-control form-control-lg" name="year" id="year">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">สายการเรียน</label>
                            <div class="col-sm-10">
                                <input required type="text" class="form-control form-control-lg" name="branch" id="branch">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-primary">ยืนยัน</button>
                    </div>
            </form>
            </div>
        </div>
        <!--เพิ่ม-->
    </div>

    <!-- Modal แก้ไข -->
    <div class="modal fade updateStudent" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <form action="/manageStudent/update" method="post" id="formedit">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateStudent">
                            แก้ไขนิสิต</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title" id="updateStudent">
                            ข้อมูลuser</h5><br>

                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">username</label>
                            <div class="col-sm-10">
                                <input required type="text" class="form-control form-control-lg" name="editusername" id="editusername">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">password</label>
                            <div class="col-sm-10">
                                <input required type="text" name="_id" id="editStudId" style="display: none">
                                <input required type="text" name="edituType" id="edituType" style="display: none" value="student">
                                <input required type="password" class="form-control form-control-lg" name="editpassword" id="editpassword">
                            </div>
                        </div>
                        <hr>
                        <h5 class="modal-title" id="updateStudent">
                            ข้อมูลส่วนตัว</h5><br>

                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">รหัสนิสิต</label>
                            <div class="col-sm-10">
                                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" required type="text" class="form-control form-control-lg" name="editstudentId" id="editstudentId">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">คำนำหน้าชื่อ</label>
                            <div class="col-sm-10">
                                <select class="form-control  form-control-lg" id="editprefixName" name="editprefixName">
                              <option>นาย</option>
                              <option>นางสาว</option>
                              <option>นาง</option>
                          </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">ชื่อ</label>
                            <div class="col-sm-10">
                                <input required type="text" class="form-control form-control-lg" name="editfirstName" id="editfirstName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">นามสกุล</label>
                            <div class="col-sm-10">
                                <input required type="text" class="form-control form-control-lg" name="editlastName" id="editlastName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">คณะ</label>
                            <div class="col-sm-10">
                                <input required type="text" class="form-control form-control-lg" name="editfaculty" id="editfaculty">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">สาขา</label>
                            <div class="col-sm-10">
                                <input required type="text" class="form-control form-control-lg" name="editmajor" id="editmajor">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">ชั้นปี</label>
                            <div class="col-sm-10">
                                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" required type="text" class="form-control form-control-lg" name="edityear" id="edityear">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-lg">สายการเรียน</label>
                            <div class="col-sm-10">
                                <input required type="text" class="form-control form-control-lg" name="editbranch" id="editbranch">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-primary">ยืนยัน</button>
                    </div>
            </form>
            </div>
        </div>
        <!--แก้ไข-->

        <script type="text/javascript">
            var editStudent = (_id, username, password, uType, studentId, prefixName, firstName, lastName, faculty, major, year, branch, sector) => {
                _id: $('#editStudId').val(_id)
                username: $('#editusername').val(username)
                password: $('#editpassword').val(password)
                uType: $('#edituType').val(uType)
                studentId: $('#editstudentId').val(studentId)
                prefixName: $('#editprefixName').val(prefixName)
                firstName: $('#editfirstName').val(firstName)
                lastName: $('#editlastName').val(lastName)
                faculty: $('#editfaculty').val(faculty)
                major: $('#editmajor').val(major)
                year: $('#edityear').val(year)
                branch: $('#editbranch').val(branch)
                sector: $('#editsector').val(sector)
            }
        </script>