<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <script>
      function loadYear () {
        document.getElementById('year').innerHTML = sessionStorage.getItem('year')
        getUtype()
      }

      function setYear () {
        let years = document.getElementById('years').value
        let semester = document.getElementById('semesters').value
        sessionStorage.setItem('year' , `ปีการศึกษา : ${years} ภาคเรียน : ${semester}`)
      }

      function getUtype () {
        console.log(sessionStorage.getItem('uType'))
      }
    </script>

  <title>SB Admin 2 - Dashboard</title>
 